body{
    font-family:"open sans",sans-serif;
    text-align: center;
    margin:0;

}
h1{
    font-size: 3rem;
    color: #333;
    margin-top: 2rem;
    
}
.dice{
    font-size: 7em;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.roll-animation{
    animation-name: roll;

}
@keyframes roll{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
button{
    font-size: 1.5rem;
    padding: 1em 2em;
    /* margin: 1em; */
    background-color: #47a5c4;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition:background-color 0.3s;
}
button:hover{
    background-color: #2e7d9d;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 2rem;
    max-width: 600px;
    margin: 2rem auto;

}
li{
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #f4f4f4;
    border-radius: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li span{
    font-size: 3rem;
    margin-right: 1rem;
}